.m-auto {
  margin: auto;
}
.d-block {
  display:block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.m-0 {
  margin: 0;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-absolute {
  position: absolute;
}

.l-80 {
  left: 80%;
} 
